<nav>

 <h1>  <div class="hamburger-menu" id="hamburger-menu">
  <div class="bar"></div>
  <div class="bar"></div>
  <div class="bar"></div>
  
</div>

<i class="material-icons">stream</i> Workflow</h1>
   
    <br>
    <ul id="nav-links" class="nav-list">
      <li><a href="/" class="<%= active === 'Dashboard' ? 'active' : ''%>"><i class="material-icons">dashboard</i> Dashboard</a></li>
      <li><a href="/team" class="<%= active === 'Team' ? 'active' : ''%>"><i class="material-icons">people</i> Team</a></li>
      <li><a href="/projects" class="<%= active === 'Projects' ? 'active' : ''%>"> <i class="material-icons">work</i> Projects</a></li>
      <li><a href="/calendar" class="<%= active === 'Calendar' ? 'active' : ''%>"> <i class="material-icons">date_range</i> Calendar</a></li>
      <li><a href="/documents" class="<%= active === 'Documents' ? 'active' : ''%>"><i class="material-icons">folder</i> Documents</a></li>
      <li><a href="/reports" class="<%= active === 'Reports' ? 'active' : ''%>"><i class="material-icons">summarize</i> Reports</a></li>
    </ul>
  </nav>