<nav>

    <h1>
        <div class="hamburger-menu" id="hamburger-menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>

        </div>

        <i class="material-icons">stream</i> Workflow
    </h1>

    <br>
    <ul id="nav-links" class="nav-list">
        <li><a href="/" class="<%= active === 'Dashboard' ? 'active' : ''%>"><i class="material-icons">dashboard</i>
                Dashboard</a></li>
        <li><a href="/students" class="<%= active === 'Students' ? 'active' : ''%>"><i class="material-icons">people</i>
                Students</a></li>
        <li><a href="/lecturers" class="<%= active === 'Lecturers' ? 'active' : ''%>"> <i class="material-icons">work</i>
                Lecturers</a></li>
        <li><a href="/performance" class="<%= active === 'Performance' ? 'active' : ''%>"> <i
                    class="material-icons">date_range</i> Performance</a></li>
      
        <li><a href="/reports" class="<%= active === 'Reports' ? 'active' : ''%>"><i
                    class="material-icons">summarize</i> Reports</a></li>
    </ul>
</nav>