<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

  <body>
    <div class="container">
      <%- include("partials/student-nav")%>
        <main>
          <%- include("partials/searchBar")%>

            <h1>
              <%= title %>
            </h1>
            <div class="content">
              <p>
                <%= message %>
              </p>
              <a href="/students">Go back</a>
            </div>






        </main>


    </div>

  </body>

</html>